<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= title %></title>
  <%- include("./share/stylesheets.ejs") %>
</head>
<main role="main" class="container"></main>

<body>
  <%- include("./share/navbar.ejs")%>
  <div class="border-bottom mt-5 mb-5" id="index">
    <h1><%= title %></h1>
  </div>
  </div>
  </main><!-- /.container -->
  <script language="javascript" type="text/javascript" src="../public/javascripts/index.js"></script>
</body>

</html>